
li{
    display: inline;
    width:  50px;
    height: 40px;
    border: 2px solid rgb(153, 149, 149);
    margin: 2px;
}
td{
    width:  50px;
    height: 40px;
    border: 2px solid black;
}